<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Final Project: Yuxin, Caiwei</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <link href="./static/css/style.css" rel="stylesheet" type="text/css">

<!--MANMANAMANANANANANANANAANANANANANANANANANANANN-->
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
<!--MANMANAMANANANANANANANAANANANANANANANANANANANN-->

</head>
<script src='./static/js/graphs.js' type='text/javascript'></script>
<body onload="locatepage(2)">
<div id="banner">
  <p><a href="#"><img src="./static/images/home.gif" alt="homepage"></a> | <a href="mailto:denise@mitchinson.net"><img src="./static/images/mail.gif" alt="contact"></a></p>
  <h1>2013 American Community Survey</h1>
</div>
<div id="menu">
  <ul id="nav">
    <li id="home"><a href="/">Home</a></li>
    <li id="stat"><a href="/state">States</a></li>
    <li id="work" class="activelink"><a href="/work">Work Status</a></li>
    <li id="hous"><a href="/house">House Type</a></li>
    <li id="anal"><a href="/pca">Analysis</a></li>
  </ul>
</div>
<div id="container_map">
  <div id="content_right_map">
    <dl class="curved">
      <dt>PIE CHART</dt>
      <dd> <br />
        <div id="Wpiechart" class="mycharts"></div>
        <p class="last">&nbsp;</p>
      </dd>
    </dl>
	<dl class="curved">
      <dt>BAR CHART</dt>
      <dd> <br />
        <div id="Wbarchart" class="mycharts"></div>
        <p class="last">&nbsp;</p>
      </dd>
    </dl>

  </div>
  <div id="content_map">
    <dl class="curved">
      <dt>WORK STATUS</dt>
      <dd> <br />
        <ul id="navlist">
          <li><button id="ws1" href="#">Both in Labor Force(Maried Coupel)</button></li>
          <li><button id="ws2" href="#">One in Labor Force(Maried Coupel)</button></li>
          <li><button id="ws3" href="#">None in Labor Force(Maried Coupel)</button></li>
          <li><button id="ws4" href="#">In Labor Force(Single)</button></li>
          <li><button id="ws5" href="#">Not in Labor Force(Single)</button></li>
        </ul>
        <p class="last">&nbsp;</p>
      </dd>
    </dl>
    <dl class="curved">
      <dt>Discreption</dt>
      <dd>
        <div id="box">
          <h2><img src="./static/images/last.gif" alt="ad"> Family Income Distributions by Work Status</h2>
          <blockquote>  Select different work status of families to show the distribution of family income within this field.</blockquote>
          <p>  This tag shows the family income distribution on different work status of family members.</p>
        </div>
      </dd>
    </dl>
  </div>
</div>
<div id="footer">
  <p><a href="/">homepage</a> | <a href="caiwei.li@stonybrook.edu">Caiwei Li</a> | <a href="yuxin.man@stonybrook.edu">Yuxin Man</a> | &copy; 2016 Visualization | Design by Yuxin Man and Caiwei Li</p>
</div>
<script src="./static/lib/js/jquery.min.js"></script>
<script src="./static/lib/js/bootstrap.min.js"></script>
<script src="./static/lib/js/crossfilter.js"></script>
<script src="./static/lib/js/d3.js"></script>
<script src="./static/lib/js/dc.js"></script>
<script src="./static/lib/js/queue.js"></script>
<script src="./static/lib/js/keen.min.js"></script>
<script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>
